Repository sophra-org/sophra: changes, and which Codecov flags are due for each by the changed paths.
All: Admin, Cortex AB Test Assign, Cortex AB Test Create, Cortex Analytics Reports, Cortex Analytics Search, Cortex Documents Bulk, Cortex Documents Verify, Cortex Documents ID, Cortex Documents ID Vectorize, Cortex Engine Health, Cortex Feedback, Cortex Health, Cortex Indices, Cortex Metrics, Cortex Search, Cortex Sessions, Cortex Sessions Analytics, Nous AB Testing Experiments, Nous AB Testing Experiments Activate, Nous AB Testing Experiments Apply, Nous AB Testing Experiments Deactivate, Nous AB Testing Results, Nous Adapt Apply, Nous Adapt Rules, Nous Adapt Suggest, Nous Learn Events, Nous Learn Feedback, Nous Learn Feedback Patterns, Nous Learn Metrics, Nous Learn Models, Nous Learn Models Sync, Nous Learn Search Patterns, Nous Signals Observe, Nous Signals Process, Nous Signals, Health, Pages, Lib Cortex AB Testing, Lib Cortex Analytics, Lib Cortex Core, Lib Cortex Documents, Lib Cortex Elasticsearch, Lib Cortex Events, Lib Cortex Feedback, Lib Cortex Middleware, Lib Cortex Monitoring, Lib Cortex Postgres, Lib Cortex Redis, Lib Cortex Reporting, Lib Cortex Services, Lib Cortex Sessions, Lib Cortex Types, Lib Cortex Utils, Lib Nous Adapt, Lib Nous Clients, Lib Nous Config, Lib Nous Engine, Lib Nous Learn, Lib Nous Models, Lib Nous Monitoring, Lib Nous Observe, Lib Nous Registry, Lib Nous Types, Lib Nous Utils, Lib Shared Database, Lib Shared Engine, Lib Shared Logger, Lib Shared Types, Lib Shared Utils, Types

Refactor: test mocks and update Codecov workflow
  .github/workflows/codecov.yml
  src/lib/nous/engine/real-time-learner.test.ts
  src/lib/nous/engine/real-time-learner.ts
Due: Lib Nous Engine

Enhance: Vitest configuration and update Codecov workflow
  .github/workflows/codecov.yml
  test-report.junit.xml
  vitest.config.ts
Due: none

Refactor: Update test report structure and enhance Codecov workflow
  .github/workflows/codecov.yml
  src/lib/nous/engine/service.test.ts
  test-report.junit.xml
Due: Lib Nous Engine

Enhance: Update Vitest configuration and test report structure
  .gitattributes
  .github/workflows/codecov.yml
  .npmrc
  package.json
  test-report.junit.xml
  vitest.config.ts
Due: none

Enhance: Update Vitest configuration, test report structure, and Codecov workflow
  .gitattributes
  .github/workflows/codecov.yml
  package.json
  test-report.junit.xml
  tests/run-nous-tests.ts
  vitest.config.ts
Due: none

Enhance: Update coverage configuration and refine Codecov settings
  .gitattributes
  codecov.yml
  vitest.config.ts
Due: none

Enhance: Update test configurations, mock implementations, and experiment handling
  coverage/cobertura-coverage.xml
  coverage/index.html
  coverage/lcov-report/index.html
  src/app/api/nous/ab-testing/experiments/deactivate/route.ts
  src/app/api/nous/ab-testing/experiments/experiments.route.test.ts
  src/app/api/nous/ab-testing/results/results.route.test.ts
  src/app/api/nous/adapt/rules/route.ts
  src/app/api/nous/learn/events/events.route.test.ts
  src/app/api/nous/learn/metrics/metrics.route.test.ts
  src/app/api/nous/learn/models/models.route.test.ts
  src/app/health/health.route.test.ts
  src/lib/cortex/core/sync-service.ts
  src/lib/cortex/redis/services.ts
  src/lib/cortex/utils/service-manager.ts
  src/lib/test/next-server.mock.ts
  test-report.junit.xml
  tsconfig.json
  vitest.setup.ts
Due: Nous AB Testing Experiments, Nous AB Testing Experiments Deactivate, Nous AB Testing Results, Nous Adapt Rules, Nous Learn Events, Nous Learn Metrics, Nous Learn Models, Health, Lib Cortex Core, Lib Cortex Redis, Lib Cortex Utils

Lint: Update coverage reports, refine test configurations, and improve rule evaluation logic
  coverage/cobertura-coverage.xml
  coverage/coverage-final.json
  coverage/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/settings.ts.html
  coverage/lcov-report/store.ts.html
  coverage/lcov-report/types.ts.html
  coverage/lcov.info
  coverage/settings.ts.html
  coverage/store.ts.html
  coverage/types.ts.html
  src/lib/nous/adapt/rules/index.ts
  src/lib/nous/clients/__mocks__/openai.ts
  src/lib/nous/config/types.ts
  test-report.junit.xml
Due: Lib Nous Adapt, Lib Nous Clients, Lib Nous Config

Enhance: Refactor adaptation suggestions and metrics route tests for improved structure and error handling; update VSCode settings to exclude unnecessary files
  .vscode/settings.json
  src/app/api/nous/adapt/suggest/suggest.route.test.ts
  src/app/api/nous/learn/metrics/metrics.route.test.ts
  test-report.junit.xml
Due: Nous Adapt Suggest, Nous Learn Metrics

Update test-report.junit.xml to reflect recent test execution results and improve reporting accuracy.
  test-report.junit.xml
Due: none

fix: resolve undefined errors by properly mocking prisma and validating responses
  src/app/api/nous/learn/feedback/feedback.route.additional.test.ts
  src/app/api/nous/learn/feedback/patterns/patterns.route.test.ts
  src/app/api/nous/learn/search-patterns/search-patterns.route.test.ts
Due: Nous Learn Feedback, Nous Learn Feedback Patterns, Nous Learn Search Patterns

fix: resolve test failures by fixing mock initialization and response handling
  src/app/api/nous/learn/feedback/feedback.route.additional.test.ts
  src/app/api/nous/learn/feedback/patterns/patterns.route.test.ts
  src/app/api/nous/learn/search-patterns/search-patterns.route.test.ts
Due: Nous Learn Feedback, Nous Learn Feedback Patterns, Nous Learn Search Patterns

test: improve test mocks and validation for API routes
  src/app/api/nous/learn/feedback/feedback.route.additional.test.ts
  src/app/api/nous/learn/feedback/patterns/patterns.route.test.ts
  src/app/api/nous/learn/metrics/metrics.route.additional.test.ts
  src/app/api/nous/learn/search-patterns/search-patterns.route.test.ts
Due: Nous Learn Feedback, Nous Learn Feedback Patterns, Nous Learn Metrics, Nous Learn Search Patterns

fix: update import paths for consistency and improve feedback route tests to ensure correct error handling
  src/app/api/nous/learn/events/events.route.additional.test.ts
  src/app/api/nous/learn/events/events.route.test.ts
  src/app/api/nous/learn/feedback/feedback.route.additional.test.ts
  src/app/api/nous/learn/feedback/patterns/patterns.route.test.ts
  src/app/api/nous/learn/metrics/metrics.route.additional.test.ts
  src/app/api/nous/learn/models/models.route.additional.test.ts
  src/app/api/nous/learn/models/models.route.test.ts
  src/app/api/nous/learn/models/sync/sync.route.test.ts
  src/app/api/nous/learn/search-patterns/route.ts
  src/app/api/nous/learn/search-patterns/search-patterns.route.additional.test.ts
  src/app/api/nous/learn/search-patterns/search-patterns.route.test.ts
  src/app/api/nous/signals/route.test.ts
  src/app/api/nous/signals/route.ts
  src/app/api/nous/signals/signals.route.additional.test.ts
  test-report.junit.xml
Due: Nous Learn Events, Nous Learn Feedback, Nous Learn Feedback Patterns, Nous Learn Metrics, Nous Learn Models, Nous Learn Models Sync, Nous Learn Search Patterns, Nous Signals

Refactor API routes and tests for improved error handling and validation
  src/app/api/cortex/documents/[id]/vectorize/route.ts
  src/app/api/nous/adapt/suggest/suggest.route.additional.test.ts
  src/app/api/nous/adapt/suggest/suggest.route.test.ts
  src/app/api/nous/adapt/suggest/test-report.junit.xml
  src/app/api/nous/learn/models/models.route.additional.test.ts
  src/app/api/nous/learn/models/models.route.test.ts
  src/app/api/nous/learn/models/route.ts
  test-report.junit.xml
Due: Nous Adapt Suggest, Nous Learn Models

Refactor and enhance API tests for metrics and model synchronization
  src/app/api/nous/learn/feedback/patterns/patterns.route.test.ts
  src/app/api/nous/learn/metrics/metrics.route.additional.test.ts
  src/app/api/nous/learn/metrics/metrics.route.test.ts
  src/app/api/nous/learn/models/sync/sync.route.test.ts
  test-report.junit.xml
Due: Nous Learn Feedback, Nous Learn Feedback Patterns, Nous Learn Metrics, Nous Learn Models, Nous Learn Models Sync

Refactor health route additional tests for improved error handling and mock implementations
  src/app/api/nous/health/health.route.additional.test.ts
  test-report.junit.xml
Due: none

Refactor and enhance additional tests for Signals API
  src/app/api/nous/signals/signals.route.additional.test.ts
  test-report.junit.xml
Due: Nous Signals

Refactor and enhance document API tests for improved error handling and mock implementations
  src/app/api/cortex/documents/[id]/id.route.additional.test.ts
  src/app/api/cortex/documents/[id]/id.route.test.ts
  test-report.junit.xml
Due: none

Refactor and enhance vectorization API tests for improved error handling and mock implementations
  src/app/api/cortex/documents/[id]/vectorize/vectorize.route.test.ts
  test-report.junit.xml
Due: none

Refactor and enhance additional tests for Document API
  src/app/api/cortex/documents/[id]/id.route.additional.test.ts
  test-report.junit.xml
Due: none

Refactor and enhance tests for Cortex API routes
  src/app/api/cortex/route.additional.test.ts
  src/app/api/cortex/search/search.route.test.ts
  src/app/api/cortex/sessions/[sessionId]/analytics/id.analytics.route.test.ts
  src/app/api/cortex/sessions/sessions.route.additional.test.ts
  src/app/api/cortex/sessions/sessions.route.test.ts
  test-report.junit.xml
Due: Cortex Search, Cortex Sessions

Create dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Refactor and enhance additional tests for Cortex services
  .github/dependabot.yml
  src/lib/cortex/feedback/automated-processor.additional.test.ts
  src/lib/cortex/feedback/service.additional.test.ts
  src/lib/cortex/services/vectorization.additional.test.ts
  src/lib/cortex/services/vectorization.ts
  src/lib/cortex/utils/service-manager.additional.test.ts
  test-report.junit.xml
Due: Lib Cortex Feedback, Lib Cortex Services, Lib Cortex Utils

Create SECURITY.md
  SECURITY.md
Due: none

Update SECURITY.md
  SECURITY.md
Due: none

Path conditions:
  Admin: any of: src/app/api/admin/**
  Cortex AB Test Assign: any of: src/app/api/cortex/ab-test/assign/**
  Cortex AB Test Create: any of: src/app/api/cortex/ab-test/create/**
  Cortex Analytics Reports: any of: src/app/api/cortex/analytics/reports/**
  Cortex Analytics Search: any of: src/app/api/cortex/analytics/search/**
  Cortex Documents Bulk: any of: src/app/api/cortex/documents/bulk/**
  Cortex Documents Verify: any of: src/app/api/cortex/documents/verify/**
  Cortex Documents ID: any of: src/app/api/cortex/documents/[id]/**
  Cortex Documents ID Vectorize: any of: src/app/api/cortex/documents/[id]/vectorize/**
  Cortex Engine Health: any of: src/app/api/cortex/engine/health/**
  Cortex Feedback: any of: src/app/api/cortex/feedback/**
  Cortex Health: any of: src/app/api/cortex/health/**
  Cortex Indices: any of: src/app/api/cortex/indices/**
  Cortex Metrics: any of: src/app/api/cortex/metrics/**
  Cortex Search: any of: src/app/api/cortex/search/**
  Cortex Sessions: any of: src/app/api/cortex/sessions/**
  Cortex Sessions Analytics: any of: src/app/api/cortex/sessions/[sessionId]/analytics/**
  Nous AB Testing Experiments: any of: src/app/api/nous/ab-testing/experiments/**
  Nous AB Testing Experiments Activate: any of: src/app/api/nous/ab-testing/experiments/activate/**
  Nous AB Testing Experiments Apply: any of: src/app/api/nous/ab-testing/experiments/apply/**
  Nous AB Testing Experiments Deactivate: any of: src/app/api/nous/ab-testing/experiments/deactivate/**
  Nous AB Testing Results: any of: src/app/api/nous/ab-testing/results/**
  Nous Adapt Apply: any of: src/app/api/nous/adapt/apply/**
  Nous Adapt Rules: any of: src/app/api/nous/adapt/rules/**
  Nous Adapt Suggest: any of: src/app/api/nous/adapt/suggest/**
  Nous Learn Events: any of: src/app/api/nous/learn/events/**
  Nous Learn Feedback: any of: src/app/api/nous/learn/feedback/**
  Nous Learn Feedback Patterns: any of: src/app/api/nous/learn/feedback/patterns/**
  Nous Learn Metrics: any of: src/app/api/nous/learn/metrics/**
  Nous Learn Models: any of: src/app/api/nous/learn/models/**
  Nous Learn Models Sync: any of: src/app/api/nous/learn/models/sync/**
  Nous Learn Search Patterns: any of: src/app/api/nous/learn/search-patterns/**
  Nous Signals Observe: any of: src/app/api/nous/signals/observe/**
  Nous Signals Process: any of: src/app/api/nous/signals/process/**
  Nous Signals: any of: src/app/api/nous/signals/**
  Health: any of: src/app/health/**
  Pages: any of: src/app/pages/**
  Lib Cortex AB Testing: any of: src/lib/cortex/ab-testing/**
  Lib Cortex Analytics: any of: src/lib/cortex/analytics/**
  Lib Cortex Core: any of: src/lib/cortex/core/**
  Lib Cortex Documents: any of: src/lib/cortex/documents/**
  Lib Cortex Elasticsearch: any of: src/lib/cortex/elasticsearch/**
  Lib Cortex Events: any of: src/lib/cortex/events/**
  Lib Cortex Feedback: any of: src/lib/cortex/feedback/**
  Lib Cortex Middleware: any of: src/lib/cortex/middleware/**
  Lib Cortex Monitoring: any of: src/lib/cortex/monitoring/**
  Lib Cortex Postgres: any of: src/lib/cortex/postgres/**
  Lib Cortex Redis: any of: src/lib/cortex/redis/**
  Lib Cortex Reporting: any of: src/lib/cortex/reporting/**
  Lib Cortex Services: any of: src/lib/cortex/services/**
  Lib Cortex Sessions: any of: src/lib/cortex/sessions/**
  Lib Cortex Types: any of: src/lib/cortex/types/**
  Lib Cortex Utils: any of: src/lib/cortex/utils/**
  Lib Nous Adapt: any of: src/lib/nous/adapt/**
  Lib Nous Clients: any of: src/lib/nous/clients/**
  Lib Nous Config: any of: src/lib/nous/config/**
  Lib Nous Engine: any of: src/lib/nous/engine/**
  Lib Nous Learn: any of: src/lib/nous/learn/**
  Lib Nous Models: any of: src/lib/nous/models/**
  Lib Nous Monitoring: any of: src/lib/nous/monitoring/**
  Lib Nous Observe: any of: src/lib/nous/observe/**
  Lib Nous Registry: any of: src/lib/nous/registry/**
  Lib Nous Types: any of: src/lib/nous/types/**
  Lib Nous Utils: any of: src/lib/nous/utils/**
  Lib Shared Database: any of: src/lib/shared/database/**
  Lib Shared Engine: any of: src/lib/shared/engine/**
  Lib Shared Logger: any of: src/lib/shared/logger/**
  Lib Shared Types: any of: src/lib/shared/types/**
  Lib Shared Utils: any of: src/lib/shared/**/*.ts, but not: src/lib/shared/types/**, src/lib/shared/logger/**, src/lib/shared/engine/**, src/lib/shared/database/**
  Types: any of: src/types/**
